
<section id="community" class="contact bg-primary">
    <div class="container">
        <h2>Get Grounded in our Community</h2>
        <h3 style="padding-bottom:10px">We need your feedback and help</h3>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a title="{{ network.link_title }}" href="{{ network.url }}" class="btn-social btn-outline"><img src="/img/social/{{ network.title }}.svg" width="32" height="32"></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <p><a rel="license" title="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License." href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> &nbsp;&copy; 2023 <a rel="nofollow" target="_blank" href="https://codeberg.org/solidground">solidground</a> and contributors, read our <a href="https://codeberg.org/SocialCoding/community/src/branch/main/CODE_OF_CONDUCT.md">community participation guidelines</a>, site <a href="https://codeberg.org/solidground/solidgroundwork">source</a>, no trackers, no ads, no javascript</p>
    </div>
</footer>
