
<nav id="hamnav" class="navbar navbar-default navbar-fixed-top">
  <div id="hamitems" class="container">
    <a class="navbar-brand page-scroll" href="#page-top"><span style="color:#f90;">Let's Reimagine Social</span></a>

    <label for="hamburger">Menu &#9776;</label>
    <input type="checkbox" id="hamburger"/>

    <div class="nav navbar-nav navbar-right">
      <!-- <a href="/funds">Support us</a> -->
      <a href="#process">Process</a>
      <a href="#platform">Platform</a>
      <a href="#fediverse">Innovation</a>
      <a href="#join">Project</a>
      <!-- <a href="/blog">Blog</a> -->
    </div>
  </div>
</nav>
