<section id="project" class="bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">We Create • Create With Us</h2>
                <p>Joyful Creation Is Our Quest • Join Our Adventure, Be Part Of The Game</p>
            </div>
        </div>
</section>
