<section id="showcases">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="section-heading">Join Our Inclusive Community. Help Evolve
              <a href="https://docs.solidground.work/#learn-from-our-showcases">Our Showcases</a></h3>
            <br /><br />
        </div>
    </div>
  </div>
</section>
