<section id="call-to-action" class="call-to-action bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Focus More On What Matters</h2>
                <p>Create Solutions That Fulfill Needs • Provide Experiences That Elicit Delight</p>
            </div>
        </div>
    </div>
</section>
