<section id="core-values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We Are Member Of <a href="https://coding.social">Social Coding Movement</a></h2>
                <h3 class="text-muted">Our ideation, design and development is a collective and social effort.</h3>
                <br /><br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="value-box">
                    <i class="icon-diamond text-primary"></i>
                    <h3>Community First</h3>
                    <p class="text-muted">Software is made by people for people in a highly collaborative and creative process.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="value-box">
                    <i class="icon-compass"></i>
                    <h3>Open is Everything</h3>
                    <p class="text-muted">We work in public. We build on open standards and only use open technologies.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="value-box">
                    <i class="icon-lock"></i>
                    <h3>Democratic Governance</h3>
                    <p class="text-muted">Regardless of skills and background your voice is heard.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="value-box">
                    <i class="icon-heart"></i>
                    <h3>Educate and Learn</h3>
                    <p class="text-muted">We are open to learn from each other, and will actively teach. We like thinking out-of-the-box.</p>
                </div>
            </div>
        </div>
    </div>
</section>
