<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include slogan.html %}
  {% include process.html %}
  {% include platform.html %}
  {% include positioning.html %}
  {% include fediverse.html %}
  {% include join.html %}
  {% include values.html %}
  {% include showcases.html %}
  {% include community.html %}
  {% include supporters.html %}
</body>

</html>
